/* Concerts & Cuisine Stylesheet */

.nearMe {
    padding: 10px;
    margin-bottom: 10px;
}

#nearMeButton {
    padding: 10px;
}

.card {
    margin: 20px;
}

#map2, #map, #map3, #map4 {
    widows:350px;
    height:350px;
}